{
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", "jsx"]
      }
    ],
    "prettier/prettier": "error",
    "max-len": ["error", 80],
    "react/require-default-props": "off",
    "import/no-named-as-default": 0,
    "import/prefer-default-export": 0,
    "react/jsx-props-no-spreading": 0,
    "react/destructuring-assignment": 0,
    "jsx-a11y/alt-text": 0
  },
  "env": {
    "browser": true
  }
}
