.App {
  height: 100%;
}

.reveal h2,
.reveal h3,
.reveal h4 {
  text-transform: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.title img {
  margin: 0;
  width: 40vw;
}

.title p {
  margin: -20px 0 0 0;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.about-gillian p {
  margin: 0;
  line-height: 0.95;
}

em {
  color: #42affa;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.student-lab {
  img {
    height: 400px;
  }

  p {
    margin: 0;
  }
}

.grid {
  display: grid;
  grid-auto-columns: min-content 1fr;
  column-gap: 20px;
}

.grid > div {
  grid-column: 1;
  align-self: center;
  justify-self: right;
}

.grid > img {
  grid-column: 2;
}

.reveal pre code {
  scrollbar-color: #ffffff80 #ffffff00;
}

.hljs-decl {
  color: #c678dd;
}

.hljs-keyword {
  color: #8deafd;
}

.hljs-literal {
  color: #fffbb2;
}

.hljs-operator {
  color: #56b6c2;
}

.inactive {
  opacity: 0.2;
}

.box {
  width: 500px;
  text-align: left;
}

pre {
  border-radius: 5px;
  height: 485px;

  code::-webkit-scrollbar {
    width: 5px;
  }
}
