.App {
  height: 100%;
}

.reveal h2,
.reveal h3,
.reveal h4 {
  text-transform: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.title {
  .logo {
    margin: 0;
    width: 40vw;
  }

  .screenshot {
    width: 60vw;
  }

  p {
    margin: -20px 0 0 0;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
}

.what-is-gillian p {
  margin: 0;
  line-height: 0.95;
}

em {
  font-style: italic;
  color: #42affa;
}

.exec-modes em,
.gillian-history em,
.future-plans em {
  font-size: 0.8em;
}

.tool-comparison table td {
  text-align: center;
}

.tool-comparison table td:first-child {
  text-align: left;
  span {
    color: #42affa;
  }
}

.tool-comparison table thead {
  font-weight: bold;
}

.future-plans em {
  display: inline-block;
  font-size: 0.8em;
  transform: translateY(-30%);
}

.title {
  margin: 0 !important;
}

.subtitle {
  font-style: italic;
  color: #42affa !important;
}

p.subtitle {
  margin-top: 0 !important;
}

.subtitle.small {
  font-size: 0.8em !important;
}

.todo {
  font-style: italic;
  color: #ff0000;
}

.todo::before {
  content: "TODO: "
}

.blue {
  color: #42affa !important;
}

.exec-modes .note {
  font-style: italic;
  color: #42affa;
  font-size: 0.8em !important;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.student-lab {
  img {
    height: 400px;
  }

  p {
    margin: 0;
  }
}

.grid {
  display: grid;
  grid-auto-columns: min-content 1fr;
  column-gap: 20px;
}

.grid > div {
  grid-column: 1;
  align-self: center;
  justify-self: right;
}

.grid > img {
  grid-column: 2;
}

.reveal pre code {
  scrollbar-color: #ffffff80 #ffffff00;
}

.hljs-decl {
  color: #c678dd;
}

.hljs-keyword {
  color: #8deafd;
}

.hljs-literal {
  color: #fffbb2;
}

.hljs-operator {
  color: #56b6c2;
}

.inactive {
  opacity: 0.5;
}

.box {
  width: 600px;
  text-align: left;
}

pre {
  border-radius: 5px;
  height: 485px;

  code::-webkit-scrollbar {
    width: 5px;
  }
}
